<h1>Ini adalah halaman About</h1>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/hilmi.JPG" alt="hilmiali" class="img-thumbnail rounded-circle" width="150px" />
      <h1 class="display-4">Hilmi Ali Salsabila</h1>
      <p class="lead">Student</p>
    </div>
  </div>
</div>
